body {
	background-color: rgb(0, 0, 66);
	background-color: rgb(24, 0, 0);
	background-image: url(../public/assets/images/barbed-wire-size-35-lotsofblood.gif);
	/* background-color: white; */
	background-size: 1100px;
	background-position: center 200px;
	width: 1000px;
	margin: 6.66rem auto 0 auto;
	image-rendering: pixelated;
}

/* .App {
} */

.Cellz {
	position: relative;
	color: red;
	/* background-color: white; */
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 200px;
	height: 666px;
}

.grid-cell {
	position: relative;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
	color: black;
	border: 5px solid black;
	color: white;
}

.grid-cell h3 {
	position: absolute;
	width: 100%;
	/* text-align: center; */
	/* bottom: 0; */
	background-color: black;
	font-size: 1.2rem;
}

.grid-cell:hover {
	color: red;
}

/* .grid-cell:before {
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%;
	top: 15px;
	left: 15px;
	padding: 5px;
	color: red;
	background-image: url(../public/assets/images/dots-white.png);
	background-size: 12px;
	background-position: bottom right;
	content: "";
}
.grid-cell:hover:before {
	background-image: url(../public/assets/images/dots-red.png);
} */

.AMF {
	background-image: none;
	background-color: rgb(0, 0, 66);
	background-color: transparent;
	grid-row: 2;
	grid-column: 2 / 4;
	border: none;
}
.AMF::before {
	content: none;
}
.AMF h1 {
	color: red;
	position: absolute;
	font-size: 3rem;
	bottom: 0;
	left: 20%;
}

.cell-zoom h3 {
	background-color: black;
	font-size: 1.5rem;
	color: white;
}

.cell-menu {
	display: flex;
	position: absolute;
	justify-content: space-around;
	bottom: -10px;
	width: 100%;
	font-size: 1.5rem;
	background-color: black;
	padding: 5px 0 5px 0;
}

.cell-zoom button {
	border: none;
	background-color: black;
	color: white;
	font-size: 1.25rem;
	padding: 5px;
}

.cell-zoom button:hover {
	color: red;
}
.cell-zoom button:active {
	color: white;
	background-color: red;
}

.cell-zoom-backdrop {
	position: absolute;
	top: -6.66rem;
	left: calc((100vw - 1000px) / -2);
	width: 100vw;
	height: 100vh;
}
